.header {
    background-color: rgb(0, 46, 58)
}

#h1 {
    color: white;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 1%;
    font-size: 350%;
}

#inputDiv {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    display: flex;
}

.buttionDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}

#input {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: larger;
    border: 0px;
}

#button-addon2 {
    background-color: rgb(220, 53, 69);
    color: white;
    font-size: larger;
    padding-left: 5%;
    padding-right: 5%;
    border: 10px solid white;
    font-size: x-large;
}

.h3 {
    text-align: center;
    padding-bottom: 2%;
}

.preview {
    background-color: rgb(226, 226, 226);
    padding: 2%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

p {
    font-size: larger;
    color: lightslategray;
}

#secondButton{
    background-color: rgb(220, 53, 69);
    color: white;
    font-size: larger;
    padding-left: 2%;
    padding-right: 2%;
    font-size: x-large;
    display: flex;
    border: 0px;
}

